<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="login-container">
        <label for="username">
            Эл. почта
        </label>
        <input class="block_element" type="text" id="username" name="username">
        
        <label for="password">
            Пароль:
        </label>
        <input class="block_element" type="password" id="password" name="password">
        
        <button class="block_element submit-btn">
            Войти
        </button>
    </div>
</body>
</html>