<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    {% if expanses and expanses.len > 0 %}
        <table class="container" id="expansesTable">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Сумма</th>
                    <th>Категория</th>
                    <th>Способ оплаты</th>
                    <th>Комментарий</th>
                </tr>
            </thead>
        </table>
        <div class="container">
            <input class="block_element" type="datetime" id="startDate" tabindex="0" aria-label="dateBegin">
            <input class="block_element" type="datetime" id="endDate" tabindex="0" aria-label="dateEnd">
            <input class="block_element" type="text" id="expanseCategory" tabindex="0" aria-label="expanseCategory">
            <button id="acceptFilter">Применить</button>
        </div>
        <script>
            const expansesData = {{ expanses|json }}
            const table = document.getElementById("expansesTable");

            
            function renderTable(data){
                
                
                table.querySelector('tbody').innerHTML('');
                
                data.array.forEach(item => {
                    // Создаем новую строку
                    const row = document.createElement('tr');
                    
                    // Создаем и заполняем ячейки
                    const dateCell = document.createElement('td');
                    nameCell.textContent = item.date;
                    
                    const sumCell = document.createElement('td');
                    ageCell.textContent = item.sum;
                    
                    const categoryCell = document.createElement('td');
                    cityCell.textContent = item.category;
                    
                    const paymentMethodCell = document.createElement('td');
                    cityCell.textContent = item.paymentMethod;
                    
                    const commentCell = document.createElement('td');
                    cityCell.textContent = item.comment;
                    
                    // Добавляем ячейки в строку
                    row.appendChild(dateCell);
                    row.appendChild(sumCell);
                    row.appendChild(categoryCell);
                    row.appendChild(paymentMethodCell);
                    row.appendChild(commentCell);
                    
                    // Добавляем строку в таблицу
                    tableBody.appendChild(row);
                });
                
                function expansesFiltering(){
                    const targetCategory = document.getElementById("expanseCategory").value;
                    const startDate = new Date(document.getElementById("startDate").value);
                    const endDate = new Date(document.getElementById("endDate").value);
                    
                    return expansesData.filtered(e => 
                        (e.category === targetCategory || !targetCategory) && 
                        ((e.date >= startDate && e.date <= endDate) || !startDate || !endDate)
                    )

                }

                document.getElementById("acceptFilter").addEventListener('click', () => {
                    renderTable(expansesFiltering());
                });

            }
        </script>
    {% else %}
        <div class="container">
            <p>Ошибка</p>
        </div>
   {% endif %}
</body>
</html>