body {
    background-color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: rgb(38, 38, 38);
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.block_element {
    background: #333;
    border: 1px solid gray;
    border-radius: 3px;
    color: white;
    font-size: medium;
    padding: 8px 12px;
    box-sizing: border-box;
}

.block_element:focus {
    border-color: #ffae00;
    outline: none;
}

button.block_element {
    background: #d38f2f;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.block_element:hover {
    background: #bf8129; 
}

button.block_element:active {
    background: #aa7326;
}

input.block_element {
    width: 100%;
    min-width: 0;
}